@import "part/vars";
@import "part/mixins";
@import "part/icons";

html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
body,
html {
	padding: 0;
	height: 100%;
}
a {
	&:hover {
		text-decoration: none;
		color: #023556;
	}
}
b {

}
p {
	margin-bottom: 10px;
}
h1,
.h1 {

}
h2,
.h2 {

}
.btn {

}
input {
  padding: 3px 15px;
}
button {
	cursor: pointer;
}
::placeholder {
  opacity: 1 !important;
  color: #fff !important;
}
.wrap {
	min-width: 320px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
  flex: 1 0 auto;
}
.header {
  flex: 0 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.icon-killer-mask {
	width: 50px;
	height: 69px;
}
.green_mod {
  fill: green;
}