include template/mixins.pug
<!DOCTYPE html>
<html lang="ru-RU">
include template/head.pug
<body>
  <div class="wrap">
    include template/header.pug
    <main class="content">
      <div class="container">

      </div>
    </main>
    include template/footer.pug
  </div>
  include template/scripts.pug
  <script></script>
</body>
</html>